.advertiser-booking-container {
    padding: 40px 30px 60px;
    /* padding-top: 40px; */
}

.advertiser-booking-container>div:nth-child(1) {
    padding: 20px 0px 60px;

}

.advertiser-booking-container>div:nth-child(1)>h4 {
    color: #F99B28;
}

.booking-document-wrapper {
    max-width: 265px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0.8px dashed #ABA8A8;
    border-radius: 2px;
    margin-top: 30px;
}

.booking-document-wrapper>div>h4 {
    color: #F99B28;
    padding-bottom: 20px;
}

.campaign-document-wrapper {
    height: 29px;
    background: #ffffff;
    border: 0.21px solid #3b3950;
    border-radius: 2px;
    padding: 0px 19px;
    display: flex;
    align-items: center;
}

.campaign-document-wrapper>p {
    font-family: "Adobe Clean";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #004643;
}

.station-btn {
    max-width: 1100px;
    display: flex;
    gap: 10px;
    overflow: auto;
}

.station-btn::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    background-color: #fff;
    opacity: .3;

}

.station-btn::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

.station-btn>button {
    width: 100px;
    height: 50px;
    /* padding: 10px 30px; */
    border: 1px solid rgba(89, 84, 84, 0.8);
    border-bottom: 0px;
    border-radius: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Adobe Clean;


}

.station-info-wrapper {

    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
}

.station-header-info {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    padding: 30px;
    border-bottom: 0.8px solid #ABD1C6;
}

.station-header-info>div {
    display: flex;
    align-items: center;
}

.station-header-info>div>img {
    width: 15px;
    height: 15px;
}

.campaign_status {
    color: #2F8904;
}

.active {
    background-color: #F99B28;
    color: #fff;
}

/* 
.station-header-info {
    padding: 30px 0px;
    padding-left: 60px;

    display: flex;
    gap: 70px;
    border-bottom: 0.8px solid #ABD1C6;
} */
.station-header-info>div>img {
    width: 11px;
    height: 11px;
}

.station-header-info>div>span {
    font-size: 10px;
    line-height: 14px;
}

.station-header-info>div {
    display: flex;
    gap: 6px;
}

.station-booking-cards-container {
    padding: 40px 0px;
    padding-left: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.station-wraps>span {
    display: flex;
    flex: 5px;
}

.station-card {
    padding: 10px;
    /* width: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #004643;
    border-radius: 2px;
}

.station-card>img {
    width: 30px;
    height: 30px;
}

.station-card>span {
    display: flex;
    gap: 5px;
    font-size: 12px;
    line-height: 19px
}

@media (min-width: 768px) {
    .station-btn>button {
        width: 210px;
    }

    .station-header-info {
        display: flex;
        gap: 50px;
        padding-left: 65px;
    }

    .station-header-info>div>img {
        width: 15px;
        height: 15px;
    }

    .station-header-info>div>span {
        font-size: 14px;
        line-height: 20px;
    }

    .station-booking-cards-container {
        padding: 40px 60px;
        gap: 50px;
    }

    .station-card {
        padding: 30px;
    }

    .station-card>span {
        font-size: 14px;
        line-height: 20px;
    }
}