.payment-conatiner {
    width: 100%;
}

.input-payment-section {
    width: 100%;
    padding: 40px 55px 70px 65px;
    border-bottom: 0.8px solid #ABD1C6;
}
.input-payment-section{
    padding: 40px 30px 65px;
}

.payment-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.current-balance,
.pending-balance {
    color: #121212;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.current-balance>span {
    color: #008000;

}

.pending-balance>span {
    color: #FC9732;

}

.payment-input {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    gap: 40px; */
}
.amount-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.amount-input {
    max-width: 600px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
    gap: 10px;


}

.amount-input > span {
    color: #C52D2F;

}

.amount-input>input,
.amount-input>select {
    width: 100%;
    border: 0.8px solid #ABA8A8;
    border-radius: 2px;
    padding: 10px 0;
    padding-left: 20px;
}
.input-payment-section > button {
    color: #fff;
    display: block;
    width: fit-content;
    padding: 10px 54px;
    background: #F99B28;
border-radius: 2px 2px 0px 0px;
margin: 0 auto;
/* margin-top: 40px; */

}
.payment-table {
    padding: 40px 55px 70px 65px;
    color: #004643;

}
@media (max-width: 768px) {
    .payment-table {
    padding: 40px 30px 65px;
    }
}
.payment-table > h2 {
    text-transform: capitalize;
}