.program-schedule-container {
    padding: 0px 15px;
}
.program-schedule-container > h4 {
padding: 40px 0px;
    }
#day-btn {
    display: flex;
    gap: 5px;
}
#day-btn > button {
    padding: 10px 26px; 
border: 1px solid rgba(89, 84, 84, 0.8);
border-bottom: 0px;
border-radius: 2px;
}
@media (max-width: 768px) {
    #day-btn > button {
        padding: 0;
        width: 70px;
        height: 40px;
        font-size: 12px;
line-height: 14px;
    }
}
.table-icons-container {
    padding-left: 15px;
}
.program-schedule-table-container {
    width: 100%;
    padding: 0 70px;
    padding-bottom: 70px;
    border: 0.8px solid #ABD1C6;
}
@media (max-width: 768px) {
    .program-schedule-table-container {
        padding: 0;
    }
}
.schedule-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 10px;
}
.schedule-button-wrapper > button {
    padding: 10px 40px;   
    border: 1px solid #F99B28;
    border-radius: 2px;
}
.schedule-option {
    padding: 6px 0;
    padding-left: 15px;
    border: 0.8px solid #ABA8A8;
border-radius: 2px;
} 
.panel-body {
    min-height: 478px;
    overflow-y: scroll;
}
.panel-body > table > tr{
    border: none;
}
@media (max-width: 768px) {
    .schedule-button-wrapper {
        padding-right: 15px;
    }
}
