div#book-campaign {
    width: 100%;
}
#select-station-sect {
    width: 100%;
    display: flex;
    justify-content: center;
}
#select-station-sect > div {
    width: 100%;
    max-width: 1440px;
    padding: 40px 0 148px;
    display: flex;
    gap: 28px;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    #select-station-sect > div {
        padding: 100px 5% 50px;
    }
    @media screen and (min-width: 1200px) {
        #select-station-sect {
            width: 100%;
            display: flex;
        }
        #select-station-sect > div {
            justify-content: space-between;
            padding: 122px 37px 50px 80px;
        }
        @media screen and (min-width: 1310px) {
            #select-station-sect > div {
                padding: 122px 77px 50px 130px;
            }
        }
    }
}
