.profile-reset-password-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.profile-reset-password-container{
padding-top: 40px;
}
.reset-password-input {
    width: 300px;
    border: 1px solid #CACACA;
    border-radius: 2px;
    padding: 15px;
}
.reset-password-btn {
    width: fit-content;
    padding: 15px 130px;
    margin-top: 40px;
    background: #F99B28;
    color: #fff;
    border-radius: 2px 0px 0px 2px;
    text-transform: capitalize;
}